.main{
    background-color: hotpink;
}

.portfolio{
    background-color: blue;
}

.whoami{
    background-color: blueviolet;
}

.logo{
    background-color: brown;
}

.contact{
    background-color: chartreuse;
}
